:root {
  --primary: #ba181b;
  --dark-primary: #660708;
  --secondary: #e5383b;
  --gray: #b1a7a6;
  --light-gray: #d3d3d3;
  --white: #fff;
  --black: #0b090a;
  --text: #333;
  --auxiliar: #e2e2e2;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--text);
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Globales */

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

/** Contenedor **/

.container {
  max-width: 72rem;
}

.video {
  width: 100%;
  height: 32rem;
  border-radius: 1.5rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background: var(--black);
  color: var(--light-gray);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.controls {
  height: 15%;
  width: 100%;
  bottom: 0;
  padding: 0.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-bar {
  height: 0.3rem;
  width: 100%;
  background-color: var(--text);
  position: relative;
}

.controls-bar::after {
  height: 0.3rem;
  width: 25%;
  z-index: 10;
  background: var(--primary);
  content: "";
  position: absolute;
}

.controls-gear {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-buttons {
  height: 2rem;
  width: 50%;
  color: var(--gray);
}

.controls-buttons span {
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: fit-content;
  display: inline-block;
}

.controls-buttons_play {
  width: 25%;
}

.controls-buttons_next {
  width: 25%;
}

.controls-buttons_volumen {
  height: 0.2rem;
  width: 3rem !important;
  background-color: var(--text);
  position: relative;
}

.controls-buttons_time {
  width: 25%;
}

.controls-information {
  height: 2rem;
  width: 50%;
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.creator {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.content {
  border-radius: 1rem;
  padding: 1rem;
  background: var(--auxiliar);
}

.creator-img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.creator-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.tag {
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: fit-content;
  background: var(--secondary);
  color: var(--white);
}